/* Default css */

@font-face {
    font-family: "Source Sans Pro Light";
    src: url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url(fonts/SourceSansPro-Semibold.ttf);
}

/* CiviCRM Menu */
#civicrm-menu.disabled {
    
    font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
    color:#444;
    text-shadow:0 1px 0 white;
    height:28px;

    background: #e9e9ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #eeeef2 3%, #e0e0e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(3%,#eeeef2), color-stop(100%,#e0e0e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e3',GradientType=0 ); /* IE6-9 */

    box-shadow:-1px 0 0 white;

}

#civicrm-menu.disabled, #root-menu-div ul.disabled {
    font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
}

#civicrm-menu li.disabled {
    padding:5px 10px 5px 10px;
}

#admin-menu.disabled {
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}

h1#page-title {
    font-family: "Source Sans Pro Light", Helvetica, Arial, sans-serif;
}

.crm-container {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.crm-container .crm-form-block {
    
    background:#f2f2f6;
    border:1px solid #ddd;
    border-radius:5px;
    /*
    background: #e9e9e9;
    background: -moz-radial-gradient(center, ellipse cover,  #e9e9e9 0%, #d9d9d9 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e9e9e9), color-stop(100%,#d9d9d9));
    background: -webkit-radial-gradient(center, ellipse cover,  #e9e9e9 0%,#d9d9d9 100%);
    background: -o-radial-gradient(center, ellipse cover,  #e9e9e9 0%,#d9d9d9 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #e9e9e9 0%,#d9d9d9 100%);
    background: radial-gradient(ellipse at center,  #e9e9e9 0%,#d9d9d9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient
    */
}

.crm-container .crm-form-block *:focus {
    outline:none;
}

.crm-container .crm-form-block strong {
    font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
    font-weight:normal;
}

.crm-container .crm-form-block .crm-form-block { border:none; }

.crm-container input[type=text], .crm-container textarea {
    border:1px solid #b5b5b5;
    border-radius:4px;
    padding:5px;
    font-size:1em;
    font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
    color:#555;

    box-shadow: 0px 0px 2px 0px rgba(200,200,200,1) inset, 0px 1px 0 0 white;

    -moz-transition: border 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: border 0.25s, box-shadow 0.25s;
    transition: border 0.25s, box-shadow 0.25s;

}

.crm-container input[type=text]:focus, .crm-container textarea:focus, .crm-container select:focus {
    -webkit-box-shadow: 0px 0px 3px #2786C2;
    -moz-box-shadow:    0px 0px 3px #2786C2;
    box-shadow:         0px 0px 3px #2786C2;
    border:1px solid #666;
}

.resizable-textarea .grippie { display:none; }
.resizable-textarea          { margin-bottom:10px; }

.crm-container .form-layout td.label, .crm-container .form-layout-compressed td.label, .crm-container .selector td.label, .crm-container .form-layout-compressed th.label {
    border: 0 none;
    padding: 8px 4px 8px 6px;
    text-align: right;
    vertical-align: top;
}

.crm-container .header-dark {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight:normal;
}

.crm-container .form-layout-compressed td {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.1em;
}

/* Select box styles */
.crm-container .select-box-wrapper select:not([multiple]) {
    
    display:inline-block;
    overflow:hidden;
    border:1px solid #b5b5b5;
    border-radius:4px;
    
    background: #e9e9ee; /* Old browsers */
    background-image: url(images/arrow.gif); /* fallback */
    background: url(images/arrow.gif), -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
    background: url(images/arrow.gif), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: url(images/arrow.gif), -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: url(images/arrow.gif), -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
    background: url(images/arrow.gif), -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
    background: url(images/arrow.gif), linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */

    vertical-align: middle;
    background-position:center right;
    background-repeat:no-repeat;

    box-shadow: 0px 1px 0 0 white;

    -moz-transition: border 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: border 0.25s, box-shadow 0.25s;
    transition: border 0.25s, box-shadow 0.25s;

}

.crm-container .select-box-wrapper-focused {
    -webkit-box-shadow: 0px 0px 3px #2786C2;
    -moz-box-shadow:    0px 0px 3px #2786C2;
    box-shadow:         0px 0px 3px #2786C2;
    border:1px solid #666;  
}

.crm-container .select-box-wrapper select {

    border:none;
    padding:3px;
    font-size:1em;
    font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
    color:#555;
    background:none;
    text-shadow:0 1px 0 white;
    -webkit-box-shadow: none;
    -webkit-appearance: none; appearance: none;
    /*
    box-shadow: 0px 0px 2px 0px rgba(200,200,200,1) inset, 0px 1px 0 0 white;

    -moz-transition: border 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: border 0.25s, box-shadow 0.25s;
    transition: border 0.25s, box-shadow 0.25s;
    */
}

.crm-container .select-box-wrapper select:focus { outline:none; box-shadow:none; }

.crm-container .select-box-wrapper select option { text-shadow:none; }

.crm-container .select-box-wrapper span.option-first {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:italic;
    color:#999;
}

/* Checkbox / radio button styles */

.styled-checkbox, .styled-radio {
    width:15px;
    height:15px;
    margin:3px 6px 0 auto;
    position:relative;
    display:inline-block;
}

.styled-checkbox input, .styled-radio input {
    /*visibility: hidden;*/
    /* set opacity:0 instead of visibility:hidden to retain ability to focus */
    filter: alpha(opacity=0);
    opacity:0;
    position:absolute;
    z-index:-2;
}

.styled-radio label {
    
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    border-radius: 8px;
    border:1px solid #999;

    -webkit-box-shadow: 0px 1px 0 white, inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 0 white, inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 0 white, 0 0 2px rgba(0,0,0,0.5) inset;
    background: #fff;

    -moz-transition: border 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: border 0.25s, box-shadow 0.25s;
    transition: border 0.25s, box-shadow 0.25s;
}

.styled-checkbox label {
    
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    border-radius: 2px;
    border:1px solid #999;

    -webkit-box-shadow: 0px 1px 0 white, inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 0 white, inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 0 white, 0 0 2px rgba(0,0,0,0.5) inset;
    background: #fff;

    -moz-transition: border 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: border 0.25s, box-shadow 0.25s;
    transition: border 0.25s, box-shadow 0.25s;

}

.styled-checkbox label:after {
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.styled-radio label:after {

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    top: 4px;
    left: 4px;
    border-radius:4px;
    background:#484848;

}

.styled-checkbox label:hover::after, .styled-radio label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.styled-checkbox input:checked + label:after, .styled-radio input:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.styled-checkbox input:focus + label, .styled-radio input:focus + label {
    -webkit-box-shadow: 0px 0px 3px #2786C2;
    -moz-box-shadow:    0px 0px 3px #2786C2;
    box-shadow:         0px 0px 3px #2786C2;
    border:1px solid #666;
}

/* Button styles */

#crm-container .crm-submit-buttons:first-of-type {
    
    padding-bottom:9px; 
    border-bottom:1px solid #e0e0e4;
    margin-bottom:9px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);

}

#crm-container .crm-submit-buttons:last-of-type {
    
    padding-top:8px; 
    border-top:1px solid #e0e0e4;
    margin-top:9px;

    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1) inset;

}

.crm-container a.button, .crm-container a.button:link, .crm-container a.button:visited, .crm-container input.form-submit, #crm-container input[type="button"], #crm-container input.form-submit-inline, #crm-container .crm-button {
    
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    
    background: #e9e9ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #eeeef2 3%, #e0e0e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(3%,#eeeef2), color-stop(100%,#e0e0e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e3',GradientType=0 ); /* IE6-9 */

    border: 1px solid #b4b4b4;
    border-radius:4px;
    color: #444;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    margin-right: 6px;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);

    -moz-transition: -moz-box-shadow 0.25s;
    -webkit-transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;

}

.crm-container a.button:hover, .crm-container input.form-submit:hover, 
#crm-container input[type="button"]:hover, #crm-container input.form-submit-inline:hover, 
#crm-container .crm-button:hover {
    -webkit-box-shadow: 0px 0px 2px #2786C2;
    -moz-box-shadow:    0px 0px 2px #2786C2;
    box-shadow:         0px 0px 2px #2786C2;
}

#crm-container .crm-button-type-cancel input {
    color: #808080 !important;
}


#crm-container .crm-button input[type="button"], #crm-container .crm-button input.form-submit, #crm-container .crm-button input.form-submit-inline {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
    padding: 2px 4px;
    color:#444;
    box-shadow: none;
}

/* Accordian styles */
.crm-container .crm-accordion-header, .crm-container .collapsed .crm-accordion-header, 
.crm-container .crm-accordion-header:hover {
    border:1px solid #bbb;
    color:#444;
    background-color: #e9e9ee;
    background-repeat:no-repeat;
    text-shadow: 0 1px 0 #fff;
}
/*
.crm-container .collapsed .crm-accordion-header {
    background-repeat:no-repeat;
}
*/

.crm-container .crm-accordion-body {

    border-radius: 0 0 4px 4px;
    border: 1px solid #bbb;
    border-top:none;
    padding: 4px 0;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
}

/* Datepicker */
#crm-container input.dateplugin {
    background: url("images/cal.gif") no-repeat scroll right center #fff;
}

/* Misc fixes */
#tagGroup .form-layout-compressed table td {
    width:250px;
}

/* Additions - this could do with better commenting, tho it's mostly dashboard  */
 
#crm-container .ui-tabs-panel {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.3em;
}

 .crm-container .crm-tab-button a, .crm-container .ui-tabs .ui-tabs-nav li a{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;	
	font-size:1.1em;
	color: #222;
}

.crm-container .ui-tabs .ui-tabs-nav {
    background: #e9e9ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #eeeef2 3%, #e0e0e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(3%,#eeeef2), color-stop(100%,#e0e0e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* W3C */
}

#mainTabContainer.ui-tabs {
	padding: 0em;
}
.crm-contact-tabs-list .ui-tabs-nav .ui-helper-reset .ui-helper-clearfix .ui-widget-header .ui-corner-all {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.crm-container div.solid-border-top, .crm-container .attachment-fieldset {
    border-top: none;
}
#crm-container .crm-submit-buttons:first-of-type {
    border-bottom: none !important;
    box-shadow: none !important;
}
.crm-container h3 {
    background-color: #dedede !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
}

.crm-container .crm-accordion-header.active {
    background-color: #ccc;
    font-weight: bold;
}

#crm-container div.crm-summary-row, #mainTabContainer .crm-tab-button {
	background-color: #EEEEEE;
}

#mainTabContainer li.crm-tab-button {
    margin: 0 5px 2px 0;
    background: #e9e9ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #eeeef2 3%, #e0e0e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(3%,#eeeef2), color-stop(100%,#e0e0e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 3%,#eeeef2 3%,#e0e0e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e3',GradientType=0 ); /* IE6-9 */
    border: 1px solid #b4b4b4;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-transition: -moz-box-shadow 0.25s;
    -webkit-transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    }

.crm-container .crm-accordion-header, .crm-container .collapsed .crm-accordion-header, .crm-container .crm-accordion-header:hover {
    background-color: #E9E9EE;
    text-shadow: none;
}
.crm-container .crm-accordion-header.active:hover {
    background-color: #bbb;
}
crm-container .crm-accordion-wrapper {
    padding: 2px;
}
.crm-container .crm-accordion-wrapper .crm-master-accordion-header {
	border: none;
	margin-bottom: 10px;
}
.crm-container .crm-master-accordion-header.crm-accordion-header:hover, .crm-container .crm-collapsible .collapsible-title:hover {
    color: #111;
    border: none;
}
.crm-container .crm-search-tasks, .crm-container .crm-tasks {
	background-color: #f2f2f2;
}

/* Make icons black rather than white */

.crm-container .button .icon, .crm-container .crm-button .icon {
    background-image: url("../../../all/modules/civicrm/i/icons/jquery-ui-52534D.png");
}

/* -- general form elements */

.crm-container select {
    color: #444;
    font-size: 14px !important;
}
.crm-container label, .crm-container tr, .crm-container div.crm-clear {
	/*font-size: 1.15em;*/
}
.crm-container div.crm-clear {
	font-size: 0.8em;
}
#crm-container div.crm-summary-row div.crm-label {
	color: #444;
}
.crm-container .description, .crm-container .crm-clear-link {
	font-size: 1.1em;
}
input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

/* -- dashboard widgets */

#crm-container .widget-controls {
	background-color: #dedede !important;
}

/* -- dialogue popup */

div.ui-dialog {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #eee;
}
